* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.board {
    width: 400px;
    height: 500px;
    text-align: center;
    padding-top: 10%;
    font-size: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.45);
  
}



.Player1Register {
    padding-top: 10%;
    padding-bottom: 15%;
}

.interface {
    width: 100%;
    min-height: 100vh;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    color: rgb(0, 0, 0);
}

.intp1, .intp2 {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
   
}



.Player1Register {
    text-align: left;
    margin-left: 5%;
}

.Player2Register {
    text-align: left;
    margin-left: 5%;
}

.containerCarta {
    font-size: 20px;
    width: 15%;
    text-align: left;

}

.interface {
    background-image: url("../imgs/background.jpg");
    background-repeat: no-repeat;


    
}

.blurs {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
}


.esconder {
    visibility: hidden;
}

.inputStyle {
    padding: 14px;
    width: 90%;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    margin-top: 5%;
}

.btnStart {
    background: rgba(10, 145, 221, 0.20);
    font-size: 20px;
    width: 50%;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    
}

.btnStart:hover {
    background: rgba(10, 145, 221, 1.0);
}


.grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 10px 2px 5px -8px rgba(0,0,0,0.36);
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    cursor: pointer;
    
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: all 400ms ease;

}

.front {
    transform: rotateY(180deg);

}

.back {
    background-image: url("../imgs/backgroundCard.jpg");
    backface-visibility: hidden;
}



.revelar-card {
    transform: rotateY(180deg);

}

.desativar-card {
    filter: saturate(0);
    opacity: 0;
    display: none;
   
}


.boardWin {
    width: 400px;
    height: 350px;
    text-align: center;
    padding-top: 10%;
    font-size: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.45);
  
}

#containerCartaFixa {
    font-size: 20px;
    width: 15%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.regras {
    background: rgba(7, 61, 92, 0.541);
    font-size: 25px;
    color: white;
    padding: 1%;
    width: 20%;
    border: none;
    border-radius: 50px;
    position: absolute;
    top: 90%;
    left: 85%;
    transform: translate(-50%, -50%);
}


.textregras{
   
    background: rgba(0, 49, 77, 0.849);
    font-size: 20px;
    color: white;
    padding: 2%;
    width: 50%;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.regras:hover {
    background: rgba(0, 24, 38, 0.5);

}

.Caixaregras:hover .textregras{
    display: block;
}

a {

    text-decoration: none;
}

.desabilitar {
    pointer-events: none;
}

@media (max-width: 600px)
{
    .grid {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 15px;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }
}